@font-face {
  font-family: LatoRegular;
  src: url("/src/assets/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoLight;
  src: url("/src/assets/Lato-Light.ttf");
}

.container {
  padding: 5rem;
  margin-top: 2rem;
  background-color: #101010;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  /*text-shadow: 2px 2px 2px #545775;*/
  color: #33392b;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

.logos {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image {
  height: 300px;
  width: 300px;
  border: 2px solid #33392b;
  border-radius: 5px;
}

.image:hover {
  box-shadow: 1px 1px 5px #686f5f;
}
