@font-face {
  font-family: LatoRegular;
  src: url("/src/assets/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoLight;
  src: url("/src/assets/Lato-Light.ttf");
}

.container {
  padding: 5rem;
  background-color: #101010;
}

.title {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  /*text-shadow: 2px 2px 2px #545775;*/
  color: #33392b;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

.content {
  display: flex;

  font-family: LatoRegular;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  /*text-shadow: 1px 1px 1px #545775;*/
  line-height: 1.5;
}

@media only screen and (min-width: 1024px) {
  .content {
    font-size: 1.5rem;
  }
}

.image {
  border: 5px solid black;
  padding: 3px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
}

.paragraph {
  margin-bottom: 1rem;
  color: #686f5f;
}
