.container {
  background-image: linear-gradient(
      180deg,
      transparent 0%,
      rgba(0, 0, 0, 0.3) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.3) 75%,
      transparent 100%
    ),
    url("/src/assets/background_sm.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .container {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(0, 0, 0, 0.929030987394958) 0%,
        rgba(77, 77, 77, 0.6209077380952381) 35%,
        rgba(164, 164, 164, 0.20354079131652658) 70%,
        rgba(255, 255, 255, 1) 100%
      ),
      url("/src/assets/mainBackgroundImage.png");
  }
}

.content {
  padding: 2rem;
}

@media only screen and (min-width: 1024px) {
  .content {
    padding: 5rem;
    width: 50%;
  }
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 5px;
  display: none /*flex*/;
}

.navigation > div {
  background-color: #545775;
  margin: 5px;
  height: 80px;
  line-height: 80px;
  color: #d3f3ee;
  text-align: center;
  font-size: 18px;
  flex: auto;
}

.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 100px;
    height: 100px;
    top: 2rem;
    left: 5rem;
  }
}

.logo img {
  width: 100%;
  height: 100%;
  /*box-shadow: 1px 1px 1px #545775;*/
}

.title {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2rem;
  text-align: left;
  /*text-shadow: 2px 2px 2px #545775;*/
  color: #d3f3ee;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

.subtitle {
  font-family: SalmaalfasansLight, sans-serif;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  /*text-shadow: 1px 1px 1px #545775;*/
  color: #d3f3ee;
  line-height: 1.5;
}

@media only screen and (min-width: 1024px) {
  .subtitle {
    font-size: 1.5rem;
  }
}
