@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/MontserratThin.otf");
}

@font-face {
  font-family: "SalmaalfasansLight";
  src: url("/src/assets/SalmaalfasansLight.otf");
}

.container {
  background-color: teal;
  height: 100vh;
  background-image: url("/src/assets/mainBackgroundImage.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 5px;
  display: none /*flex*/;
}

.navigation > div {
  background-color: #545775;
  margin: 5px;
  height: 80px;
  line-height: 80px;
  color: #d3f3ee;
  text-align: center;
  font-size: 18px;
  flex: auto;
}

.logoContainer {
  padding: 2rem 4rem;
}

.logo {
  padding: 2rem 4rem;
  width: 100px;
  height: 100px;
}

.logo img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 10px black, 4px 4px 10px grey;
}

.title {
  padding: 3rem 2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bolder;
  font-size: 400%;
  text-align: left;
  text-shadow: 2px 2px 2px #545775;
  color: #d3f3ee;
}

.subtitle {
  padding: 3rem 6rem;
  font-family: SalmaalfasansLight;
  font-style: normal;
  text-align: justify;
  text-justify: inter-word;
  text-shadow: 1px 1px 1px #545775;
  color: #d3f3ee;
}

/* body {
    overflow: hidden;
} */
