/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: LatoRegular;
  src: url("/src/assets/Lato-Regular.ttf");
}

@font-face {
  font-family: LatoLight;
  src: url("/src/assets/Lato-Light.ttf");
}

@font-face {
  font-family: Georgia;
  src: url("/src/assets/Georgia-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
